.DS_Store 
Booksmart.xcodeproj/project.xcworkspace/xcuserdata/thanhau.xcuserdatad/UserInterfaceState.xcuserstate

Booksmart.xcodeproj/project.xcworkspace/xcuserdata/thanhau.xcuserdatad/UserInterfaceState.xcuserstate
